[Unit]
Description=GNU ZIP Beat Shipper Service
Documentation=https://github.com/RedHatCRE/beatshipper/blob/main/README.md
After=network.target

[Service]
WorkingDirectory=/etc/beatshipper
Type=simple
ExecStart=/usr/sbin/beatshipper
Restart=on-failure
RestartSec=10
# TODO: Do we want to keep the logs in syslog?
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=beatshipper
[Install]
WantedBy=multi-user.target