[Unit]
Description=GNU ZIP Beat Shipper Service
Documentation=https://github.com/RedHatCRE/beatshipper/blob/main/README.md
After=network.target

[Service]
# Working with timers:
Type=oneshot
WorkingDirectory=/etc/beatshipper
ExecStart=/usr/sbin/beatshipper send
SyslogIdentifier=beatshipper
[Install]
WantedBy=multi-user.target